[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coloredlogs = "*"
celery = {extras = ["sqs"], version = "*"}
message-queue-engi = {editable = true, path = "."}
boto3 = {version = "==1.24.60", extras = ["crt"]}

[dev-packages]

[requires]
python_version = "3.9"
