[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {extras = ["crt"], version = "*"}
coloredlogs = "*"
celery = {extras = ["sqs"], version = "*"}
message-queue-engi = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
